#form {
  width: 70vw;
  min-height: 70vh;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 3px 7px 3px rgba(137, 182, 137, 0.35);
  border: 3px solid #17620be8;
}
#container {
  width: 70vw;
  height: 70vh;
}

.que,
.gif {
  width: 50%;
  height: 100%;
  padding: 40px 15px;
}
.que form {
  height: 100%;
  justify-content: space-evenly;
}
.brief {
  padding: 0px 20px;
}
.buttonBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
#googleAuth {
  padding: 5px;
  border-radius: 5px;
}
#googleAuth:hover {
  background-color: rgba(137, 182, 130, 0.18);
  cursor: pointer;
}